.about-project{
    background: #202020;
    padding-bottom: 110px;
}

.about-project__title{
    max-width: 1140px;
    margin:0 auto;
    padding-top: 110px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-project__container{
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1140px;
    justify-content: space-between;
}

.about-project__column{
    width: 550px;
}

.about-project__subtitle{
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-project__paragraph{
    margin:0;
    margin-top: 26px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.about-project__stage{
    margin: 0 auto;
    margin-top: 110px;
    max-width: 1140px;
    display: flex;
}

.about-project__back{
    width: 228px;
}

.about-project__back_week{
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3DDC84;
    color: black;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-project__back_paragraph{
    text-align:center;
    margin-top: 14px;
    color: #8B8B8B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

.about-project__front{
    width: calc(100% - 228px);
}

.about-project__front_week{
    background: #303030;
    height: 31px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px){
    .about-project{
        padding-bottom: 90px;
    }
    .about-project__title{
        padding-top: 90px;
        max-width: 668px;
    }
    .about-project__container{
        max-width: 668px;
    }
    .about-project__column{
        width: 319px;
    }
    .about-project__paragraph{
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }
    .about-project__stage{
        max-width: 668px;
        margin-top: 93px;
    }
    .about-project__back{
        width: 140px;
    }
    .about-project__back_week{
        height: 36px;
    }
    .about-project__front{
        width: calc(100% - 140px);
    }
    .about-project__front_week{
        height: 36px;
    }
}

@media (max-width: 690px){
    .about-project{
        padding-bottom: 70px;
    }
    .about-project__title{
        padding-top: 70px;
        max-width: 284px;
        font-size: 18px;
    }
    .about-project__container{
        max-width: 284px;
        display: block;
        margin-top:60px;
    }
    .about-project__column{
        width: 100%;
    }
    .about-project__column:first-child{
        margin-bottom: 56px;
    }
    .about-project__subtitle{
        font-size: 18px;
    }
    .about-project__paragraph{
        margin-top: 16px;
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__stage{
        max-width: 284px;
        margin-top: 60px;
    }
    .about-project__back{
        width: 100px;
    }
    .about-project__back_week{
        height: 35px;
        font-size: 11px;
    }
    .about-project__front{
        width: calc(100% - 100px);
    }
    .about-project__front_week{
        height: 35px;
        font-size: 11px;
    }
    .about-project__back_paragraph{
        font-size: 11px;
        line-height: normal;
        margin-top: 10px;
    }
}