.login__save_register{
    margin-top: 20px;
}
.form_register_error{
    display: block;
    margin-top: 189px;
    color: #FF004C;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
